<div class="container">
    <h1>About the contributors...</h1>
    <div class="contributors-container">
        <div class="contributor">
            <h2>Nathan Nguyen</h2>
            <p>Nathan is a full-time software engineer and M.S. candidate, working in Long Beach while attending CSU Long Beach. When not developing software or investing time in studies, Nathan spends his time running in the great outdoors.</p>
        </div>
        
        <div class="contributor">
            <h2>Jae Kim</h2>
            <p>Jae is a current M.S. candidate in applied mathematics at CSU Long Beach. While his first love is in theoretical mathematics, he’s interested in programming as it pertains to modeling mathematical problems as well as its applications in fields such as game design. Jae aspires to be a game designer at a top game company sometime in the near future.
            </p>
        </div>
    </div>
</div>