<div class="container">
    <h1>About the contributors...</h1>
    <div class="contributors-container">
        <div class="contributor">
            <h2>Nathan Nguyen</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mauris lacus, sollicitudin sed velit et, suscipit molestie nulla. Suspendisse pretium enim et sem luctus hendrerit. Sed venenatis dui vel metus egestas tempus. Fusce vehicula est a eros condimentum vulputate. Pellentesque non odio et.</p>
        </div>
        
        <div class="contributor">
            <h2>Jae Kim</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus iaculis justo, consequat vestibulum eros pharetra eu. Mauris vehicula orci eu neque auctor, et efficitur ligula laoreet. Duis egestas luctus dui, non ornare eros mattis quis. Integer porttitor nulla vitae erat accumsan, id pharetra.</p>
        </div>
    </div>
</div>