<div class="calculator-container">
    <h1 class="title">{{pageTitle}}</h1>
    
    <form class="vector-group">
        <div class="vector" tabindex="0">
            <div class="vector-label">Vector 1</div>
            <label>
                <input id="vector1-label" (keydown)="onInputKeyDown($event)" *ngFor="let row of vector1; let i = index;" type="number" name="vector1_{{i}}" [(ngModel)]="row.value">
            </label>
        </div>

        <div class="vector" tabindex="0">
            <div class="vector-label">Vector 2</div>
            <label>
                <input (keydown)="onInputKeyDown($event)" *ngFor="let row of vector2; let j = index;" type="number" name="vector2_{{j}}" [(ngModel)]="row.value">
            </label>
        </div>

        <button (click)="onSubmit()" style="display: none"></button>
    </form>

    <span class="io-group">
        <span class="interactive">
            <div>
                <span id="counterText">Number of rows: </span>
                <input #counter aria-labelledby="counterText" class="counter" type="number" min="1" (keydown)="onCounterKeyDown($event)" (keyup.enter)="onCounterEnter(counter.value)" (blur)="onCounterEnter(counter.value)" [(ngModel)]="m">
            </div>
            
            <div>
                <button mat-button type="button" (click)="resetAllEntries()">Reset row(s)</button>
                <button mat-button type="button" [disabled]="m >= maxNumberOfRows" (click)="addRow()">Add row</button>
                <button mat-button type="button" [disabled]="m <= minNumberOfRows" (click)="deleteRow()">Delete row</button>
                <button mat-button type="button" (click)="onSubmit()">Calculate</button>
            </div>
        </span>

        <app-dot-product-results *ngIf="shouldShowResult()" [result]="dotProductResult" [errorMessage]="errorMessageFromAPI"></app-dot-product-results>
    </span>
</div>
