.wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #77889945;

    mat-toolbar {
        height: 7.5%;
        background-color: #4d7758;
        font-family: dotty;
        font-size: 32px;
    
        * {
            margin-right: 15px;
        }
    
        button:focus {
            outline-color: black;
            outline-style: dashed;
            outline-width: thick;
        }
    }
}