<div class="prime-finder-container">
    <h1 class="title">{{pageTitle}}</h1>

    <form>
        <div class="input-group">
            <span id="inputText">Are the following prime?</span>
            <input aria-labelledby="inputText" name="input" [(ngModel)]="input">

            <app-aria-error-icon [ngStyle]="{'display': (!hasValidationError ? 'none' : '')}" [tooltipMessage]="validationErrorMessage" tooltipPosition="above" iconName="error_outline" matSuffix tabindex="0"></app-aria-error-icon>

            <div class="input-hint" tabindex="0">Example: 9, 31, 99</div>
        </div>

        <button mat-button (click)="onSubmit()">Submit</button>
    </form>

    <div class="expander" [ngClass]="{'activated': hasResult, 'inProgress' : isSubmitting}" tabindex="0">
        <div class="expander-chip">Results</div>
        
        <span class="hider" [ngClass]="{'activated': isSubmitting}"></span>

        <span class="expander-slider" [@expandCollapse]="isSubmitting ? 'activated' : ''">
            <app-aria-error-icon class="spinner" [shouldFlipHorizontally]="true" [shouldRotate]="true" [shouldAnimate]="isSubmitting" tooltipMessage="Calculation in progress." tooltipPosition="right" iconName="cached" matSuffix></app-aria-error-icon>
        </span>

        <div class="expander-content" [ngClass]="{'activated': hasResult}" role="alert">
            <span class="expander-placeholder" [ngClass]="{'activated': hasResult}">
                <div *ngIf="primes">Prime numbers include: {{primes}}.</div>
                <div *ngIf="nonPrimes">Non-prime numbers include: {{nonPrimes}}.</div>
                <div *ngIf="respHasError && respMessage">An error has occurred.</div>
            </span>
        </div>
    </div>
</div>