.calculators-container {
    height: 92.5%; // height = 100% - (mat-toolbar height)%
    background-color: white;
}

.calculators-sidenav {
    color: black;
    padding: 20px;
    border-right: 3px double darkgray;
    background-color: white;

    @media (max-width: 640px) {
        display: none;
    }

    :focus {
        outline-color: black;
        outline-style: dashed;
        outline-width: thick;
    }

    button {
        margin: 4px 4px 4px 4px;
    }
}

.calculators-sidenav-content {
    color: black;
    display: flex;
    height: 100%;

    :focus {
        outline-color: black;
        outline-style: dashed;
        outline-width: thick;
    }

    .sidenav-toggle {
        color: black;
        position: absolute;
        margin: 4px 4px 4px 4px;

        @media (max-width: 640px) {
            display: none;
        }
    }

    .content {
        width: 100%;
        margin-top: 2.5%;

        @media (max-width: 640px) {
            margin-left: 2.5%;
        }
    }
}