<div class="side-nav">
    <header>
        <div class="title">
            <img src="assets/images/logo.svg" alt="Multi Algorithm Runner logo">
        </div>
    </header>

    <div class="listing">
        <div class="wrapper">
            <app-menu-items></app-menu-items>
        </div>        
    </div>

    <footer>
        <div class="wrapper">
            <div class="link text"><a routerLink="/about">About</a></div>
            <div class="link text"><a routerLink="/contact">Contact Us</a></div>
            <div class="link icon">
                <a href="https://github.com/natn2323/multi-algorithm-runner">
                    <img src="assets/images/GitHub-Mark-small.svg" alt="Link to GitHub repository">
                </a>
            </div>
        </div>
    </footer>
</div>